header {
    display: flex;
    justify-content: right;
    padding: 10px;
    background: rgb(33,191,82);
    background: linear-gradient(90deg, rgba(33,191,82,1) 1%, rgba(33,191,145,1) 39%, rgba(33,191,151,1) 100%);
}

nav {
    padding: 20px;
    width: 50%;
    justify-content: right;
    text-align: right;
}

nav ul {
    display: flex;
    list-style: none;
    color: #FFFF;
    justify-content: right;
}

li a {
    font-size: 1.3rem;
    margin: 20px 10px;
    text-decoration: none;
    color: inherit;
}

li a:hover{
    color: #FD5E53;
    padding-bottom: 5px;
    border-bottom: 3px solid #FD5E53;
}

.container{
    height: 100vh;
}

h1 {
    color: #FD5E53;
    font-size: 3em;
    text-align: center;
    margin: 5%;
}