@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap');

html {
    box-sizing: border-box;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: black;
}

h1{
    font-weight: 500;
}


header {
    display: flex;
    justify-content: right;
    padding: 10px;
    background: rgb(33,191,82);
    background: linear-gradient(90deg, rgba(33,191,82,1) 1%, rgba(33,191,145,1) 39%, rgba(33,191,151,1) 100%);
}

nav {
    padding: 20px;
    width: 50%;
    justify-content: right;
    text-align: right;
}

nav ul {
    display: flex;
    list-style: none;
    color: #FFFF;
    justify-content: right;
}

li a {
    font-size: 1.3rem;
    margin: 20px 10px;
    text-decoration: none;
    color: inherit;
}

li a:hover{
    color: #FD5E53;
    padding-bottom: 5px;
    border-bottom: 3px solid #FD5E53;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
    font-weight: 300;
    background-color: #ececec;
    color:rgb(29, 29, 29);
}