.top-banner {
    background-color: #FFFF;
    color: #FD5E53;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

}

.top-banner div {
    flex: 1;
}

.top-banner img {
    width: 50vw;
}

.poster-container img {
    margin: 20% 8% 5% 8%;
    width: 40vw;
}

.home-title {
    text-align: center;
    font-size: 5em;
    margin: 25% 0 5% 0;
    width: auto;
}

.home-content p{
    text-align: center;
    margin: 10px 30px;
}

.top-banner p {
    font-size: 30px;
    color: black;
}

.arrow-container{
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0 0 0;
}

.button-container > a button {
    padding: 20px;
    border: none;
    font-size: 15px;
    background-color: #e6e6e6;
    text-align: center;
    color: rgb(29, 29, 29);
    transition: .3s ;
}

.button-container > a button:hover {
    padding: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: #FD5E53;
    text-align: center;
    color: #FFFF;
}

.home-content i {
    font-size: 40px;
    margin-top: 10px;
}

.home-content a {
    text-decoration: none;
    color: inherit;
}

.social-links {
    display: flex;
    width: 100%;
    justify-content: center; 
}

.social-links img {
    width: 25px;
    margin: 20px 10px;
}
 /* ------- */

.container-sellers {
    width: 100%;
    padding: 0px 0px 50px 0;
    height: auto;
    background-color: #21BF73;
}

.container-sellers h2 {
    font-weight: 400;
    font-size: 4em;
    color: #FFFF;
    text-align: center;
    margin: 0 0 50px 0;
}

.sellers{
    display: flex;
    flex-wrap: wrap;
}

.img-seller-container img {
    margin-top: 20px;
    width: 9rem;
}

.seller {
    flex: 1;
    margin: 30px;
}

.img-seller-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.info {
    width: 60%;
    margin: 15px auto;
    height: auto;
    text-align: center;
}

.info p {
    font-size: 15px;
    color: #FFFF;
    margin: 0;
    padding: 10px;

}

.info p:hover {
    background-color: #B0EACD;
}

.details {
    display: flex;
}

.attribute, 
.value {
    flex: 1;
}

.value{
    width: 100%;
    float: right;
    text-align: right;
    justify-content: right;
}

.order {
    padding: 10px;
    background-color: #FD5E53;
    border: none;
    text-align: center;
    color: #FFFF;
    transition: .3s;
}

.order:hover {
    padding: 10px;
    background-color: #fc3a2d;
    border: none;
    text-align: center;
    color: #FFFF;
}

.action {
    margin: 4vh auto 6vh auto;
    width: 60%;
    display: flex;
    justify-content: center;
}


button a {
    text-decoration: none;
    color: inherit;
}

/* .wave-container {
    background-color: #21BF73;
}*/
.wave-container > svg {
    display: block;
}

.markey {
      background-color: none;
      font-weight: 400;
      color: yellow
}

.review-stars {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.star {
    width: 15px;
    margin: 5px;

}

.star {
    flex: 1;
}

@media screen and (max-width: 720px) {
    
    .poster-container {
        display: flex;
        justify-content: center;
    }

    .poster-container img {
        margin: 10%;
        width: 70vw;
    }

    .home-content {
        padding: 5px;
    }

    .container-sellers h2 {
        font-size: 15vw;
    }
    
}


@media screen and (max-width: 1024px) {
    .poster-container img {
        margin-top: 30%;
    }
    .home-title {
        font-size: 3em;
        margin: 20% 0 5% 0;
    }

}

