.container {
    height: auto;
    width: 60%;
    margin: 10% auto;
}

.profile-picture {  
    text-align: center;
}

.profile-picture p {
    margin: 15px;
    font-size: 25px;
}

.profile-pic {
    width: 10em;
    margin-top: 5%;
}

.info-menu {
    display: flex;
    flex-direction: column;
}

.info-menu > div {
    width: 80%;
    border: 1px green dashed;
    margin: auto;
    padding: 15px;
    background-color: rgba(218, 255, 237, 0.342);
    display: flex;
}

.type-food,
.price-food { 
    flex: 1;
}

.order-action {
    flex: 1;
    width: 20px;
    padding: 10px;
    border: none;
    background-color: #FD5E53;

    color: #FFFF;
}


.review-stars {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}

.star {
    width: 15px;
    margin: 5px;

}

.star {
    flex: 1;
}

.food a {
    text-decoration: none;
    color: inherit;
}      

@media screen and (max-width: 481px) {

    .container {
        width: 90% ;
    }
    
    .info-menu > div {
        width: 100%;
    }
}

@media screen and (min-width: 1020px) {

    .container {
        width: 75% ;
    }

    .info-menu > div {
        width: 60%;
    }

    .type-food,
    .price-food { 
        flex: 2;
    }
}